<a href="https://colab.research.google.com/github/KumanandN/Devops-Training/blob/main/PySpark_Regression_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
from pyspark import SparkContext, SparkConf
conf = SparkConf().setAppName("read_file")
sc = SparkContext.getOrCreate(conf=conf)
dataset = spark.read.csv('movie_ratings.csv')
display(dataset)

DataFrame[_c0: string, _c1: string]

In [92]:

# Convert DataFrame to RDD
rdd = dataset.rdd

# Apply map transformation to the RDD
rdd2 = rdd.map(lambda x: (x[0], (int(x[1]), 1)))
display(rdd2)

# Display the contents of rdd2 using collect()
rdd2_contents = rdd2.collect()
for item in rdd2_contents:
    print(item)

PythonRDD[434] at RDD at PythonRDD.scala:53

('The Shawshank Redemption', (3, 1))
('The Matrix', (5, 1))
('12 Angry Men', (3, 1))
('12 Angry Men', (4, 1))
('The Matrix', (5, 1))
('Pulp Fiction', (4, 1))
('The Godfather', (5, 1))
('The Shawshank Redemption', (2, 1))
('Pulp Fiction', (4, 1))
('The Godfather', (5, 1))
('12 Angry Men', (2, 1))
('The Godfather', (3, 1))
('Pulp Fiction', (4, 1))
('12 Angry Men', (1, 1))
('The Shawshank Redemption', (2, 1))
('12 Angry Men', (1, 1))
('The Shawshank Redemption', (5, 1))
('Pulp Fiction', (5, 1))
('Pulp Fiction', (2, 1))
('The Matrix', (4, 1))

In [59]:
rdd3 = rdd2.reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1]))

rdd4 = rdd3.map(lambda x: (x[0], x[1][0] / x[1][1]))

# Display the result
display(rdd4)

rdd3_contents = rdd4.collect()
for item in rdd3_contents:
    print(item)

PythonRDD[229] at RDD at PythonRDD.scala:53

('The Shawshank Redemption', 3.0)
('The Matrix', 4.666666666666667)
('12 Angry Men', 2.2)
('Pulp Fiction', 3.8)
('The Godfather', 4.333333333333333)

In [74]:
from pyspark import SparkContext, SparkConf
conf = SparkConf().setAppName("read_file")
sc = SparkContext.getOrCreate(conf=conf)
month = spark.read.csv('average_quiz_sample.csv')
# Display the first few rows and schema
display(month.head())
display(month.printSchema())

x = 'JAN,NY, 3.0'
x.split(',')[0], ((float(x.split(',')[2]),1))

Row(_c0='JAN', _c1='NY', _c2='3.0')

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

None

('JAN', (3.0, 1))

In [90]:
# Convert DataFrame to RDD
rdd = month.rdd


rdd2 = rdd.map(lambda x: (x[0], ((float(x[2]),1))) ) # Convert _c2 to float

print("input list")
rdd4_contents = rdd2.collect()
for item in rdd4_contents:
    print(item)

# Reduce by key to sum values and counts
rdd3 = rdd2.reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1]))

print("Total sum")
rdd4_contents = rdd3.collect()
for item in rdd4_contents:
    print(item)

# Calculate the average
rdd5 = rdd3.map(lambda x: (x[0], x[1][0] / x[1][1]))

# Display the result
display(rdd4)

print("Average of each month")
rdd4_contents = rdd5.collect()
for item in rdd4_contents:
    print(item)

input list
('JAN', (3.0, 1))
('JAN', (1.0, 1))
('JAN', (2.0, 1))
('JAN', (4.0, 1))
('FEB', (1.0, 1))
('FEB', (1.0, 1))
('FEB', (2.0, 1))
('FEB', (1.0, 1))
('MAR', (2.0, 1))
('MAR', (1.0, 1))
('MAR', (2.0, 1))
('MAR', (3.0, 1))
Total sum
('JAN', (10.0, 4))
('FEB', (5.0, 4))
('MAR', (8.0, 4))

PythonRDD[324] at RDD at PythonRDD.scala:53

Average of each month
('JAN', 2.5)
('FEB', 1.25)
('MAR', 2.0)